$font_family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$border_color: #c4c4c4;
$font_color: #4b4b4b;

@mixin flex_box($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin dimension($width, $height) {
  width: $width;
  height: $height;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font_family;
}

p {
  margin: 0;
  padding: 0;
}

.widget-container {
  @include dimension(100%, auto);
  display: flex;
  flex-direction: column;
  border: 0.06rem solid $border_color;
  border-radius: 0.13rem;

  & > .widget-header {
    @include flex_box(center, space-between);
    @include dimension(100%, 3.13rem);
    border-bottom: 0.06rem solid $border_color;
    padding: 0 0.75rem 0 0.5rem;
    flex-shrink: 0;

    & > .widget-header-info {
      @include flex_box(center, flex-start);
      width: 100%;
      gap: 0.25rem;

      & > p {
        font-weight: 700;
        font-size: 0.92rem;
        line-height: 1.06rem;
        color: $font_color;
      }
    }

    & > .widget-header-slot {
      @include flex_box(center, flex-end);
      gap: 0.5rem;
    }
  }

  & > .widget-body {
    flex-grow: 1;
  }

  & > .widget-footer {
    @include dimension(100%, auto);
  }
}
