.date-picker-input-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;

  .input-box {
    width: 105px;
    display: flex;
    flex-direction: column;

    input {
      height: 29px;
      border: none;
      padding: 0px 9px;
      background: #e8e8e8 !important;
      outline: none !important;
      font-size: 16px;
      color: #909090;
    }
  }
}
