.story-description-box {
  font-size: 13px;
  margin: 50px 30px;

  p {
    margin: 0;
  }

  > div {
    margin-bottom: 25px;
    > p:nth-child(2) {
      color: #777;
      margin-top: 5px;
    }
    b {
      color: red;
      font-weight: normal;
    }
  }
}
